<div class="form-container">
  <form #myForm="ngForm" method="get" action="#" (submit)="clickHandler(myForm, $event)">
    <div class="field">
      <label for="" class="label">Title</label>
      <div class="control">
        <input
          type="text"
          class="input"
          id="title"
          name="title"
          #notetitle="ngModel"
          [(ngModel)]="newInfo.title"
          required
        />
      </div>
    </div>
    <br />
    <div class="field">
      <label for="" class="label">Subject</label>
      <div class="control">
        <input
          type="text"
          class="input"
          id="subject"
          name="subject"
          #notetitle="ngModel"
          [(ngModel)]="newInfo.subject"
          required
        />
      </div>
    </div>
    <br />
    <div class="field">
      <label for="" class="label">Body</label>
      <div class="control">
        <textarea
          name="body"
          id="body"
          class="textarea"
          #notebody="ngModel"
          [(ngModel)]="newInfo.body"
        ></textarea>
      </div>
    </div>

    <div class="field is-grouped is-pulled-right">
      <div class="control">
        <button class="button is-text" type="button" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="control">
        <button
          class="button is-success"
          type="success">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
